:root{
    --primary : rgba(244, 81, 141, 1);
    --secondary : rgba(253, 206, 223, 1);
    --secondary-2 : rgba(255, 91, 205, 1.00);
    --neutural : #1f1f1f;
    --putih : #FFFFFF;
}

#cardprofil{
    background-color: var(--putih);
    width: 280px;
}

 #cardprofil #image{
    width: 96px;
    height: 96px;
    object-fit: cover;
}
 #cardprofil #nama{
    font-weight: 600;
    font-family: 'Raleway'!important;
}
 #cardprofil #sesi{
    padding: 3px;
    font-size: smaller;
    width: 70px;
    background: linear-gradient(257deg, #FD8BA3 0%, #FF5BCD 100%);
}
