.konselor-landingpage{
  margin-top: -200px;
}
  
  .garis{
      border: none;
      border-top: 2px solid #0C0C0C; 
      width: 56px;
      margin-left: 525px;
      margin-bottom: 28px;
  }
  
  .garis-konseling2{
      border: none;
      border-top: 2px solid #0C0C0C; 
      width: 56px;
      margin-left: 430px;
      margin-bottom: 28px;
  
  }
  
  
  .img-konseling2{
      margin-top: 200px;
      border-radius: 20px;
      background: linear-gradient(180.75deg, #FFFFFF 10.62%, #FDDEE9 39.75%, #F4518D 99.33%);
      box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      width: 541px;
      height: 387px;
      top: 153px;
      left: 559px;
      flex-shrink: 0;
    }
  
  
  .konseling2{
      padding-right: 64px;
    }
  
  
  .head-konseling2{
      color: var(--primary-f-4518-d, #F4518D);
      font-family: 'Raleway'!important;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;  
      margin-top: 200px;
      text-align: end;
    }
  
  
  .body-konseling2{
    color: var(--neutral-0-c-0-c-0-c-neutral, #1F1F1F);
    font-family: 'Raleway' !important;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 46px;
    text-align: end;
  }
  
  .txt-konseling2{
      color: var(--neutral-646464-neutral-100, #1F1F1F);
      font-family: 'Raleway' !important;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0em;
      margin-top: 24px;
      margin-right: 0px;
      text-align:right;
  
  }
  
  .konseling2-button{
      color: #F4518D;
      padding: 6px 40px;
      gap: 10px;
      border-radius: 30px;
      border: 1px solid var(--primary-f-4518-d, #F4518D);
      margin: 0 auto;
      width: fit-content;
      background-color: transparent;
      display: flex;
      justify-content: flex-end;
      width: Hug (208px);
      height: Hug (47px);
      font-family: 'Raleway'!important;
      margin-left: 310px;
    }