* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway'!important;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .App {
    min-height: 100vh;
    width: 85vw;
    max-width: 1900px;
    margin: 0rem auto;
    
  }
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  
  body {
    background: #FFFFFF;

  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: Fixed (1,440px);
    height: Hug (111.13px);
    padding: 36px, 56px, 36px, 56px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .navbar-links-container a {
    margin-right: 2rem;
    text-decoration: none;
    color: rgba(31, 31, 31, 1);
    font-size: 20 px;
    font-weight: 400;
    width: Hug (737px);
    height: Hug (23px);
    gap: 24px;
    font-family: 'Raleway'!important;
  }
  
  @media (max-width: 1000px) {
    .navbar-links-container a {
      margin-right: 1rem;
      font-size: 1rem;
    }
  }
  @media (max-width: 800px) {
    .nav-logo-container {
      max-width: 140px;
    }
    .navbar-links-container {
      display: none;
    }
    
    .App {
      max-width: 95vw;
    }
  }
  @media (max-width: 600px) {
  }