.review{
  padding-top: 100px;
}

.review-box{
  display: flex;
  padding: 70px 120px 70px 120px;
  flex-direction: column;
  align-items: center;
  gap: 52px;
  border-radius: 20px;
  background: var(--gradient-grad-1, linear-gradient(180deg, #FF9BC0 0%, #FA89B2 26.78%, #F76B9F 65.97%, #FF4287 100%));
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
  padding-top: 80px;
}

.head-review{
  color:#F9F5F6;
  text-align: center;
  font-family: 'Raleway' !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: -30px;
}

.title-review{
  color:  #F9F5F6;
  text-align: center;
  font-family: 'Raleway' !important;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 155.556% */
  margin-top: -60px;
}

.image-review{
  width: 140px;
  height: 140px;
  border-radius: 140px;
  border: 4px solid var(--primary-f-9-f-5-f-6, #F9F5F6);
  background: lightgray -31.489px -11.252px / 161.109% 259.409% no-repeat;
}
.ket-review{
  display: inline-block;
}
.nama-review{
  color: #FFF;
  font-family: 'Raleway' !important;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 218.182% */
  padding-left: 35px;
}

.pekerjaan-review{
  color: #FFF;
  font-family: 'Raleway' !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  padding-left: 35px;
}

.text-review{
  color: #FFF;
  font-family: 'Raleway' !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.slider-buttons{
  display: flex;
  justify-content: center;
  gap: 100px;
}
.arrowleft,
.arrowright,
.buttonslide {
    background-color: transparent !important;
    color: #F4518D;
    border: none !important;
    outline: none !important;
    margin-top: 10px;
}